body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#productosCarta,
#comanda {
    margin-bottom: 30px;
}

#listaProductos button,
#listaComanda li {
    margin-bottom: 10px;
}
.producto {
    display: block;
}

.hidden {
    display: none;
}
.producto-imagen{
    max-width: 100px;
    height: auto; 
}

#listaComanda li {
    margin-bottom: 10px;
}



#listaComanda span {
    margin-right: 5px; /* Ajusta el espacio entre el separador visual y el botón */
}

/* Estilos para el botón de borrar línea */
.boton-borrar-linea {
    background-color: #dc3545; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Quitamos el borde */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar por encima */
    margin-left: 10px; /* Espacio a la izquierda */
}

.boton-borrar-linea:hover {
    background-color: #c82333; /* Color de fondo al pasar el cursor */
}


footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
